@media (hover:hover){
    #skills-card{
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    #skills-body{
        display: flex;
        flex-direction: column;
        gap: 3em;
    }

    .skill-group{
        display: flex;
        flex-direction: column;
        
        gap: 1em;
    }

    .skill-title-div{

    }

    .skill-title{

    }

    .skills{
        display: flex;
        row-gap: 1em;
        column-gap: 2em;
        columns: 1em;
        flex-wrap: wrap;
    }

    .skill{
        display: flex;
        justify-content: center;
        align-self: center;
        padding: 1em 1.5em;
    }

    .skill-text{

    }
}