@media (any-pointer: coarse){

    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    #introduction-text{
        background-color: #0a1930;
        box-shadow: 0 3px 5px black;
        display: flex;
        flex-direction: column;
        padding: 4em;
        margin: 2%;
        width: 85%;
        max-width: 95%;
    }

    #introduction-preamble{
        color: #b0b0b0;
        font-family: 'Glegoo', serif;
        font-size: 160%;
    }

    #introduction-name{
        font-weight: 600;
        color: #abc7eb;
        font-size: 600%;
        margin-bottom: 2%;
    }

    #introduction-major{
        color: #b0b0b0;
        font-size: 180%;
    }

    #introduction-picture{
        margin: 2%;
    }

    #portrait{
        background-color: #0a1930;
        width: 100%;
        object-fit: contain;
        border-radius: 50%;
        border-width: 2px;
        border-color: #b0b0b0;
        border-style: solid;
    }

}
