:root{
    --background-color: #081426;
    --title-color: #b0cdf1;
    --header-one-color: #bbbbbb;
    --normal-text-color: #c0d0e2;
    --underline-color: #ca6609;
    --card-color: #0a1930;
}

html{
    scroll-behavior: smooth;
}

body{
    padding: 7em 4em;
    margin-left: auto;
    margin-right: auto;
    max-width: 80em;
    background: var(--background-color);
}

p{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin: 0;
    cursor: default;
    user-select: none;
}

img{
    user-select: none;
}

button{
    user-select: none;
    font-family: 'Montserrat', sans-serif;
}

.cards-container{
    display: flex;
    flex-direction: column;
    gap: 10em;
}

.title{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title-text{
    font-weight: 600;
    color: var(--title-color);
    font-size: 60px;
}

.title-underline{
    background-color: var(--underline-color);
    height: 4px;
    width:8em;
    border-radius: 4px;
}

.header-one{
    color: var(--header-one-color);
    font-size: 22px;
}

.normal-text{
    color: var(--normal-text-color);
    font-size: 13px;
}

.card{
    background: linear-gradient(0, 
    var(--background-color) 0%,
    #081426 60%,
    var(--card-color) 100%);
    box-shadow: 0 2px 3px black;
    border-radius: 1em;
}

.small-card{
    background: var(--card-color);
    box-shadow: 0 2px 3px black;
    border-radius: 1em;
}

.section-card{
        display: flex;
        flex-direction: column;
        gap: 4em;
        scroll-margin-top: 6em;
}

.hire-me{
    background-color: #FCFCFD;
    color: #36395A;

    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 14px;

    align-items: center;
    border-radius: 4px;
    border: none;
    box-shadow: rgba(45, 35, 66, 0.4) 0 0.2em 0.4em, rgba(45, 35, 66, 0.3) 0 0.7em 1.3em -0.3em, #D6D6E7 0 -0.3em 0 inset;
    appearance: none;
    padding: 0.5em 1em 0.5em 1em;
    margin-left: 2em;
}
.hire-me:hover{
    box-shadow: rgba(45, 35, 66, 0.4) 0 0.4em 0.8em, rgba(45, 35, 66, 0.3) 0 0.7em 1.3em -0.3em, #D6D6E7 0 -0.3em 0 inset;
    transform: translateY(-10%);
    cursor: pointer;
    color: #36395A;
    }
    
.hire-me:active{
    box-shadow: #66666f 0 0.3em 0.7em inset;
    transform: translateY(2px);
}

.hidden {
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.show {
    opacity: 1;
    filter: blur(0);
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-20%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }