#projects-body{
    display: flex;
    justify-content: space-evenly;
    gap: 4em;
    flex-wrap: wrap;
}

.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
    gap: 1em;
    background-color: var(--card-color);
    transition-duration: 200ms;
    width: 17em;
    height: 17em;
}

.project:hover{
    transform: scale(105%);
}

.project-picture-div{
    max-width: 18em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow:hidden;
}

.project-picture{
    width: auto;
    height: 100%;
    object-fit: contain;
}

#expanded-project{
    position: fixed;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;

    padding: 4em;
    display: none;
}

#overlay{
    position: fixed;
    margin: 0;
    top: 50%;
    left: 50%;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.3);
    transform: translate(-50%, -50%);
    z-index: 2;
    display: none;
}